
{block content}
<div class="nadpis">
    <h1>Schválit článek</h1>   
    <div class="admin-panel"><a n:href="this"><span class="icon-reply"></span>Zpět na editaci článku</a></div>
</div>
<div class="page-obsah">
    <p>Vyberte datum a čas, ve který se má článek zveřejnit</p>
{control clanekApproveForm}
</div>
{/block}