{block title}Under construction{/block}

{block content}
<div class="container content">
	<div class="construction">
		<div class="empty-icon">
			<i class="glyphicon glyphicon-warning-sign"></i>
		</div>
		<span>Tato sekce portálu je ve výstavbě a brzy bude dokončena.</span>
	</div>
</div>