h2.blog {
	text-transform: uppercase;
}

.blog-info {
	color: @gray-light;
	font-size: 12px;
	text-transform: uppercase;
}

.blog-tags {
	margin: 1em 0;
}

.label-tag {
	background: @color-dark-purple;
}