.toplist {
	width: 100%;
	background: #fbfbfb;
	border-bottom: #eee 2px solid;
}

.toplist .song-box {
	width: 80%;
}

.toplist h4 a {
	color: inherit;
}

.toplist .place {
	font-size: 64px;
	margin-top: -25px;
	font-weight: bold;
	color: #ddd;
	margin-right: 10px;
}

.toplist .bottom-row {
	margin-top: 70px;
	font-size: 12px;
}

.no-songs {
	text-align: center;
	color: #999;
	margin: 2em 0;
}

.no-songs .empty-icon {
	text-align: center;
	font-size: 48px;
}

.cover-image, .song-info {
	display: inline-block;
	vertical-align: middle;
}

.song-info a {
	color: inherit;
	font-size: 15px;
	font-weight: bold;
}

.ranking {
	font-size: 12px;
}

.list-group a {
	color: inherit;
}

.place .first {
	color: #F8E11A;
}

.place .second {
	color: #B4B4B4;
}

.place .third {
	color: #E59E58;
}

.toplist.first {
	background: #FFF8BB;
	border-bottom-color: #FFEF60;
}

.toplist.second {
	background: #EAEAEA;
	border-bottom-color: #ccc;
}

.toplist.third {
	background: #FFD1A3;
	border-bottom-color: #E59E58;
}