@bg-color: #fff;
@text-color: #333;
@light-text-color: #fff;
@light-text-color2: #999;
@light-text-color3: #666;
@bg-video: #330033;

/* Color palete */
@color-purple: #660033;
@color-green: #5CB85C;
@color-yellow: #FFD700;
@color-maroon: #b02a26;
@color-orange: #9d3914;
@color-red: #D9534F;
@color-blue: #146C93;
@color-dark-purple: #7F007F;
@color-dark-red: #b02a26;