<iframe frameborder="0" width="480" height="270" src="http://www.dailymotion.com/embed/video/{$id}" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/xs0yef_2ne1-i-love-you-sub-espanol-hangul-romanizacion_music" target="_blank">2NE1  I  LOVE YOU (Sub Espa&ntilde;ol + Hangul...</a> <i>by <a href="http://www.dailymotion.com/GomHaru" target="_blank">GomHaru</a></i>
<br /><a href="{$url}" target="_blank">Přehrát na Dailymotion</a>