#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		autoStart: true
		expiration: 14 days
	debugger:
		bar:
			- Nette\Http\Diagnostics\SessionPanel


services:
	# Base
	- App\UserManager
	- App\RouterFactory

	# Models
	- App\Model\SongRepository
	- App\Model\InterpretRepository
	- App\Model\ZanrRepository
	- App\Model\NavbarRepository
	- App\Model\ContentRepository
	- App\Model\LogRepository

	# Navbars
	- FactoryCreator
	- App\Controls\IPlaylistBarFactory
	- App\Controls\IInterpretBarFactory
	- App\Controls\ILoginBarFactory

	# Other
	router: @App\RouterFactory::createRouter
	twitter: TwitterAuthenticator(%twitter%)
	twitterAccess: TwitterAccess(%twitter%)
	logger: App\Model\Logging\Logger
	settings: Settings
