{$song->name}
<i n:if="$song->pecka" class="glyphicon glyphicon-headphones" title="Tenhle song je pecka!"></i>
<i n:if="$song->instro" class="glyphicon glyphicon-headphones" title="K dispozici instrumentálka"></i>
<i n:if="$song->remix" class="glyphicon glyphicon-headphones" title="Remix"></i>
<i n:if="$song->note" class="glyphicon glyphicon-headphones" title="{$song->note}"></i>