{* Latte template *}

{block content}
<div class="content">
	<div class="sg-header sg-header-blue">
		<div class="container">
			<h1>Seznam interpretů</h1>
			<p class="lead">Seznam registrovaných interpretů</p>
		</div>
	</div>

	<div class="container">
		<div id="filter" class="row">
			<div class="col-md-8">
				<a n:if="!$noaliases" n:href="this noaliases => true" class="btn btn-default btn-xs">Skrýt aliasy</a>
				<a n:if="$noaliases" n:href="this noaliases => false" class="btn btn-default btn-xs">Zobrazit aliasy</a>
				<br />
			</div>
			<div class="col-md-4 text-right">
				<form class="form-inline" action="{plink this}">
					<div class="form-group">
						<input name="q" type="text" class="form-control" {ifset $q}value="{$q}"{/ifset} placeholder="Hledáte něco?">
					</div>
					<button type="submit" class="btn btn-default">Hledej</button>
				</form>
			</div>
		</div>
		{if count($interpreti)}
		{var $startLetter = ""}
			<div class="row">
			{foreach $interpreti as $interpret}
			{if $startLetter != Nette\Utils\Strings::upper($interpret->nazev[0])}
			{var $startLetter = Nette\Utils\Strings::upper($interpret->nazev[0])}
				{if !$iterator->isFirst()}</div></div>{/if}
			<div>
				<div class="col-md-2"><h3>{$startLetter}</h3></li>
				<ul>
			{/if}
				<li><i n:if="$interpret->interpret" class="glyphicon glyphicon-flash" title="Alias pro {$interpret->interpret->nazev}"></i><a n:href="interpret:view $interpret->id">{$interpret->nazev}</a></li>
			{if $iterator->isLast()}</ul></div>{/if}
			{/foreach}
		{else}
			<p>Nenalezen žádný interpret.</p>
		{/if}
		</div>
	</div>
</div>