<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="glyphicon glyphicon-music"></i> Playlist <span class="badge">16</span> <b class="caret"></b> 
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">Přidat song</a></li>
		<li><a href="playlist.html">Procházet playlist <span class="badge">16</span></a></li>
		<li class="divider"></li>
		<li><a href="#">Pravidla přidávání songů</a></li>
		<li><a href="#">FAQ</a></li>
	</ul>
</li>