{* Latte template *}

{block content}
<div class="content">
	<div class="sg-header sg-header-orange">
		<div class="container">
			<h1>Přidat song</h1>
			<p class="lead">Přidejte tip na song do playlistu</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h3>Přidejte svůj tip do playlistu</h3>
				<p>Vyplněním formuláře níže můžete poslat svůj tip do playlistu. Pokud ji DJ schválí, pravděpodobně ji uslyšíte na akcích, na kterých DJ bude hrát.</p>
				{include '../components/addSongForm.latte'}
			</div>
			<div class="col-md-5">
				{ifset $rules}
					{$rules}
				{else}
					<p>Není nastavena žádná stránka s pravidly</p>
				{/ifset}
			</div>
		</div>
	</div>
</div>
{/block}
{block scripts}
{include #parent}
<script src="{$basePath}/js/ui/jquery-ui.min.js"></script>
<script>
	$( "#interpret" ).autocomplete({
	    source: {plink song:bindInterpret},
	    minLength: 1
	});
	$("#interpret").change(function(){
		$(this).addClass("ui-autocomplete-loading");
		$.get({plink matchInterpret},{ match: $("#interpret").val()}).done(function(data){
				matchInterpret(data, "#interpret-match");
				$("#interpret").removeClass("ui-autocomplete-loading");
				if ($("#song").val())
					$("#song").change();
		 });
	});
	$("#song").change(function(){
		$(this).addClass("ui-autocomplete-loading");
		$.get({plink matchSong},{ song: $("#song").val(), interpret: $("#interpret").val()}).done(function(data){
				matchSong(data, "#song-match");
				$("#song").removeClass("ui-autocomplete-loading");
		 });
	});
</script>
{/block}