{var $robots = noindex}
{block #content}
{dump }
<div class="nadpis">
    <h1 n:block="title">Stránka nenalezena!</h1>
</div>
<div class='page-obsah'>
    <b>#ERROR 404 - Not found</b>
    <p>Je nám líto, ale požadovanou stránku se nám nepodařilo nalézt. (T_T)</p>
</div>

