{form songImageEditor}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{label interpret /}
				{input interpret class => 'form-control', placeholder => 'Interpret'}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{label song /}
				{input song class => 'form-control', placeholder => 'Song'}
			</div>
		</div>
	</div>
	{input id}
	{input send class => 'btn btn-default'}
{/form}