<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta charset="UTF-8">
		<title>{block title}Informace, prosím čtěte{/block}</title>
	</head>
	<body style="font-family: Arial; font-size: 12px; color: #333333;">
		<table width="640" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td width="100%">
					<center><img src="../img/songator3-logo.png" alt="" /></center>
				</td>
			</tr>
			<tr>
				<td width="100%" height="20">&nbsp;</td>
			</tr>
			<tr>
				<td width="100%">
					{include content}
				</td>
			</tr>
			<tr>
				<td width="100%" height="20">&nbsp;</td>
			</tr>
			<tr>
				<td width="100%">
					<span style="line-height: 24px;">S pozdravem<br />Songator 3</span>
				</td>
			</tr>
			<tr>
				<td width="100%" height="20">&nbsp;</td>
			</tr>
			<tr>
				<td width="100%">
					<span style="font-size: 10px; color: #666666; line-height: 20px">
						Tento e-mail je určen výhadně příjemci <strong>{$recipient}</strong> a může obsahovat
						důvěrné nebo chráneněné materiály. Pokud se domníváte, že Vám byl tento email 
						zaslán omylem, neprodleně jej trvale odstraňte z Vašeho počítače. Emailová adresa odesílatele neslouží 
						pro odpovědi.
					</span>
				</td>
			</tr>
		</table>
	</body>
</html>