{layout '@layout.latte'}

{block content}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{include blog}
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h3>Poslední články</h3>
				</div>
				<ul>
					<li n:foreach="$last as $article">{$article->nadpis}</li>
				</ul>
			</div>
		</div>
	</div>
</div>