
/******************** FILTER ********************/

.grido tr.filter {height: 20px}

.grido tr.filter th {
    padding: 2px 6px 2px 6px;
    border-radius: 0;
    height: 35px;
}

.grido .filter.outer {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    min-height: 5em;
}

.grido .filter.outer .items {
    width: 85%;
    float: left;
}

.grido .filter.outer .items > span {
    float: left;
    display: block;
    width: 12em;
    height: 5em;
    padding: 7px;
}

.grido .filter.outer label {
    margin-bottom: 2px;
}

.grido .filter.outer select,
.grido .filter.outer input.text,
.grido .filter.inner select,
.grido .filter.inner input.text {width: 100%}

.grido .filter.outer .buttons {
    float: right;
    margin: 1.4em 1em 0;
}

/******************** SORTING ********************/

.grido th.column.asc span:before {content: "a"}
.grido th.column.desc span:before {content: "d"}

/******************** OTHERS ********************/

.grido th.actions {
    width: 15%;
    text-align: center;
}

.grido th.buttons,
.grido td.actions {text-align: center}

.grido td.actions a {margin-right: 3px}
.grido th.checker {width: 1%;text-align: center}
.grido td.checker {text-align: center}

.grido th:last-child,
.grido td:last-child { border-right: 0}

.grido tfoot tr {height: 35px}
.grido tfoot td {border-bottom:0}
.grido tfoot td:first-child {border-radius: 0 0 0 4px}
.grido tfoot td:last-child {border-radius: 0 0 4px 4px}

.grido tfoot {text-align: center; line-height: 23px!important}
.grido tfoot .operations {float: left;text-align: left}
.grido tfoot .count {float:right; text-align: left}

.grido .center {text-align: center}
.grido .left {text-align: left}
.grido .right {text-align: right}

.grido .filter.outer label {font-size: 12px}